*{
	list-style-type: none;
	margin: 0 px;
	padding:0;
}
a,img{
	border: 0;
}
a{color:#3b3b3b;text-decoration:none;font-family:"微软雅黑";}
a:hover{
	text-decoration:none;
	color:#00468C;
}
body{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-family:"微软雅黑","宋体";
}
/*内容块1电信快讯*/
#one{
	margin-top: 40px;
	width: 980px;
	height: 190px;
}
#titleone{
	font-family: "微软雅黑";
	font-size: 21px;
	line-height: 20px;
	color: #00468C;
	text-align: left;
	text-indent: 0.5cm;
}
/*左栏部分*/
#divone{
	left: 0px;
    width: 474px;
	height: 170px;
	float: left; 
	font-size: 36px;
}
#divonef{
	background-image:url(images/5.png); 
    margin: 22px 10px 10px 20px; 
	color: #FFF; width: 67px; 
	height: 100px; 
	float: left;
}
#divonef #partone {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #FFF;
	margin-top:2px;
}
#divonef #parttwo {
	font-family: "微软雅黑";
	font-size: 22px;
	color: #FFF;
	margin-top: 5px;
}
#divones{
	width: 327px; 
	height: 130px; 
	float: right; 
	margin-top: 20px; 
	margin-right: 20px;
}
#divones #onetitle {
	font-size: 14px;
	font-family: "微软雅黑";
	color: #000;
	text-align: left;
}
#divones #onecontent {
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: "宋体";
	font-size: 12px;
	color: #666;
	text-align: left;
	text-indent: 0.5cm;
	line-height: 20px;
	width: auto;
}
/*右栏部分*/
#divtwo{
	width: 474px; 
	height: 170px; 
	float: right;
}
#divtwof{
	background-image: url(images/5.png); 
	margin: 22px 10px 10px 20px; 
	color: #FFF; width: 67px; 
	height: 100px; 
	float: left;
}
#divtwof #partone {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #FFF;
	margin-top:2px;
}
#divtwof #parttwo {
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: "微软雅黑";
	font-size: 22px;
	color: #FFFFFF;
}
#divtwos{
	width: 327px; 
	height: 130px; 
	float: right; 
	margin-top: 20px; 
	margin-right: 20px;
}
#divtwos #twotitle {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #000;
	text-align: left;
}
#divtwos #twocontent {
	font-family: "宋体";
	font-size: 12px;
	color: #666;
	text-align: left;
	text-indent: 0.5cm;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	line-height: 20px;
}
/*内容块2*/
.CenterDiv{
	width:980px;
	height:240px;
}
/*左边栏快捷导航*/
.CDleft{
	width:474px;
	height:220px;
	float:left;
}
.titlefour
{
	width:474px;
	font-family: "微软雅黑";
	font-size: 21px;
	line-height: 20px;
	color: #00468C;
	text-align: left;
	text-indent: 0.5cm;
	margin:0;
}
.lead{
	width: 407px;
	margin: 20px 30px 30px 20px;
	height: 150px;
}
.lead table tr {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #FFF;
	background-color: #00468C;
	line-height:0px;
}
/*右边栏通知公告*/
.CDright{
	width:474px;
	height:220px;
	float:right;
}
.titlefive
{
	width:474px;
	font-family: "微软雅黑";
	font-size: 21px;
	line-height: 20px;
	color: #00468C;
	text-align: left;
	text-indent: 0.5cm;
	margin:0;
}
.TZleft{
	width: 270px;
	float: left;
	height: 150px;
	padding: 30px 0px 20px 35px;
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 20px;
	text-align: left;
}
.TZright{
	width:116px;
	float:right;
	height:150px;
	padding-bottom:20px;
	padding-top:30px;
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 20px;
	text-align: left;
}
/*内容块3*/
#two{
	width: 980px; 
	height: 200px; 
	color: #000; 
	margin-top: 0px;
}
/*左边栏学生工作*/
#divthree{
	width: 474px;
    height: 200px; 
	float: left;
}
#divthreef{
	width:305px; 
	height: 190px; 
	float: left; 
	margin:0px;
}
#titletwo {
	font-family: "微软雅黑";
	font-size: 21px;
	line-height: 20px;
	color: #00468C;
	text-align: left;
	text-indent: 0.5cm;
}
#divthreeful {
	width: 270px;
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 20px;
	color: #000;
	text-align: left;
	margin: 0px;
	padding: 30px 0px 20px 35px;
}
#divthrees{
	line-height: 20px; 
	font-size: 12px; 
	font-family:'微软雅黑'; 
	width: 116px; 
	height: 140px; 
	float: right; 
	padding-top: 50px;
}
/*右边栏学科建设*/
#divfour{
	width:474px; 
	height: 200px; 
	float: right;
}
#divfourf{
	width: 305px; 
	height: 190px; 
	float: left; 
	margin:0px;
}
#titlethree {
	font-family: "微软雅黑";
	line-height: 20px;
	color: #00468C;
	text-align: left;
	font-size: 21px;
	text-indent: 0.5cm;
}
#divfourful{
	width: 270px;
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 20px;
	color: #000;
	text-align: left;
	margin: 0px;
	padding: 30px 0px 20px 35px;
	
}
#divfours{
	text-align: left; 
	line-height: 20px; 
	font-size: 12px; 
	font-family: '微软雅黑'; 
	width:116px; 
	height: 140px; 
	float: right; 
	padding-top: 50px;
}