@charset "utf-8";
.clearfix:after{content:".";display:block;height:0;visibility:hidden;clear:both;}
.clearfix{zoom:1;}
.b_cont{
	width: 980px;
	height: 382px;
	overflow: hidden;
	margin: auto 0 auto;
	position: relative;
}
.ct_p_05{width:980px;height:382px;float:left;text-align:center;}
.scrDotList_wrap{
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 11px;
}
.scrDotList{padding:0 10px;zoom:1;line-height: 0;}
.scrDotList span{display:inline-block;width:10px;height:10px;background:#000000;cursor:pointer;font-size:0;line-height:0;vertical-align:top;font-size: 0px;margin: 0 5px;}
.scrDotList span.on{background:#49cff1;}

a.scrArrAbsLeft{position:absolute;left:0;bottom:0px;width:75px;height:75px;background:url(images/0813_ent_zyc_images_v2.png) 0px -136px no-repeat;cursor:pointer;}
a.scrArrAbsLeft:hover{background-position: 0 -217px;}
a.scrArrAbsRight{
	position: absolute;
	right: 0;
	bottom: 0px;
	width: 75px;
	height: 75px;
	background: url(images/0813_ent_zyc_images_v2.png) no-repeat -83px -136px;
	cursor: pointer;
}
a.scrArrAbsRight:hover{background-position: -83px -217px;}/* CSS Document */

