<!DOCTYPE html>
<html>
<head>
	<title>电子系主页</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
	<link rel="stylesheet" type="text/css" href="mystyle.css">
	
</head>
<body>
<nav>
	<div class="logo">
		<img src="dianzixi.jpg">
	</div>
	<div class="nav">
		<ul>
			<li><a href="http://www.ncepu.edu.cn/">大学首页</a></li>
			<li><a href="#">本站首页</a></li>
			<li><a href="">新闻中心</a></li>
			<li><a href="">院系简介</a></li>
			<li><a href="http://202.206.208.57/dianzi/party/">系党总支</a></li>
			<li><a href="">学科建设</a></li>
			<li><a href="">科学研究</a></li>
			<li><a href="">对外交流</a></li>
			<li><a href="">人才培养</a></li>
			<li><a href="">历届校友</a></li>
		</ul>
	</div>
</nav>




<div class="top-picture">
	<img src="大图.jpg">
</div>

<article>
<div class="body">
	<div class="main-title">
		<div class="title">
			<div class="top">科学研究</div>
			<div class="bottom">栏目介绍文字</div>
		</div>
		<div class="listing">
			<ul>
				<li class="white"><a href="">教学成果</a></li>
				<li class="blue"><a href="">发表论文</a></li>
				<li class="white"><a href="">出版专著</a></li>
				<li class="blue"><a href="">出版教材</a></li>
				<li class="white"><a href="">研究项目</a></li>
			</ul>
		</div>
	</div>
	<div class="main-content">
	<div class="content">
		<table>
			<tr class="list-caption">
				<td class="caption-article">论文名称</td>
				<td class="caption-author">作者</td>
				<td class="caption-date">发表时间</td>
			</tr>
			<tr class="lighter">
				<td class="article-name"><a href="">这里填写论文的全名这里填写论文的全名</a></td>
				<td class="author-name">作者姓名</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="white">
				<td class="article-name"><a href="">这里填写论文的全名这里填写论文的全名</a></td>
				<td class="author-name">作者姓名</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="lighter">
				<td class="article-name"><a href="">这里填写论文的全名这里填写论文的全名</a></td>
				<td class="author-name">作者姓名</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="white">
				<td class="article-name"><a href="">这里填写论文的全名这里填写论文的全名</a></td>
				<td class="author-name">作者姓名</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="lighter">
				<td class="article-name"><a href="">这里填写论文的全名这里填写论文的全名</a></td>
				<td class="author-name">作者姓名</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="white">
				<td class="article-name"><a href="">这里填写论文的全名这里填写论文的全名</a></td>
				<td class="author-name">作者姓名</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="lighter">
				<td class="article-name"><a href="">这里填写论文的全名这里填写论文的全名</a></td>
				<td class="author-name">作者姓名</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="white">
				<td class="article-name"><a href="">这里填写论文的全名这里填写论文的全名</a></td>
				<td class="author-name">作者姓名</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="lighter">
				<td class="article-name"><a href="">这里填写论文的全名这里填写论文的全名</a></td>
				<td class="author-name">作者姓名</td>
				<td class="article-date">2013年12月</td>
			</tr>
			<tr class="white">
				<td class="article-name"><a href="">这里填写论文的全名这里填写论文的全名</a></td>
				<td class="author-name">作者姓名</td>
				<td class="article-date">2013年12月</td>
			</tr>	
		</table>
	</div>
	<div class="pager">
		<ul>
			<li class="page-turning"><a href="">&laquo;</a></li>
			<li class="number-page"><a href="">1</a></li>
			<li class="number-page"><a href="">2</a></li>
			<li class="number-page"><a href="">3</a></li>
			<li class="number-page"><a href="">4</a></li>
			<li class="page-turning"><a href="">&raquo;</a></li>
		</ul>
	</div>
	</div>			
</div>
</article>


<!----------footer部分------>

	<footer>
	<div class="footer">
		<div class="footerfirst">
		<ul>
			<li class="inner">
				<ul class="first">
					<p class="Caption">大学首页</p>
					<li title="北京校部"><a href="http://www.ncepu.edu.cn/">北京校部</a></li>
					<li title="保定校区"><a href="http://202.206.208.65/">保定校区</a></li>
					<li title="ENGLISH"><a href="">ENGLISH</a></li>
				</ul>
			</li>

			<li class="inner">
				<ul>
					<p class="Caption">新闻中心</p>
					<li title=""><a href="">电信快讯</a></li>
					<li title=""><a href="">通知公告</a></li>
					<li title=""><a href="">工作总结</a></li>
				</ul>
			</li>

			<li class="inner">
				<ul>
					<p class="Caption">院系简介</p>
					<li title="院长致辞"><a href="">院长致辞</a></li>
					<li title="历史沿革"><a href="">历史沿革</a></li>
					<li title="部门介绍"><a href="">部门介绍</a></li>
					<li title="两地办学"><a href="">两地办学</a></li>
				</ul>
			</li>

			<li class="inner"><p class="Caption">系党总支</p></li>

			<li class="inner">
				<ul>
					<p class="Caption">学科建设</p>
					<li title="教学成果"><a href="">教学成果</a></li>
					<li title="发表论文"><a href="">发表论文</a></li>
					<li title="出版专著"><a href="">出版专著</a></li>
				</ul>
			</li>

			<li class="inner">
				<ul>
					<p class="Caption">科学研究</p>
					<li title="教学成果"><a href="">教学成果</a></li>
					<li title="发表论文"><a href="">发表论文</a></li>
					<li title="出版专著"><a href="">出版专著</a></li>
					<li title="出版教材"><a href="">出版教材</a></li>
					<li title="研究项目"><a href="">研究项目</a></li>
				</ul>
			</li>

			<li class="inner">
				<ul>
					<p class="Caption">对外交流</p>
					<li title="教学成果"><a href="">教学成果</a></li>
					<li title="发表论文"><a href="">发表论文</a></li>
				</ul>
			</li>

			<li class="inner">
				<ul>
					<p class="Caption">人才培养</p>
					<li title="本科生教育"><a href="">本科生教育</a></li>
					<li title="研究生教育"><a href="">研究生教育</a></li>
					<li title="师资队伍"><a href="">师资队伍</a></li>
				</ul>
			</li>

			<li class="inner"><p class="Caption">历届校友</p></li>

			<li class="inner">
				<ul>
					<p class="Caption">友情链接</p>
					<li title="招生信息网"><a href="">招生信息网</a></li>
					<li title="就业服务中心"><a href="">就业服务中心</a></li>
					<li title="教务处"><a href="http://59.67.225.73/jiaowuchu/">教务处</a></li>
				</ul>
			</li>
		</ul>
		</div>


		<div class="footersecond">
			<pre><p>访问量：1122334   版权所有©华北电力大学电子与通信工程系   京ICP备09043258号</p></pre>			
		</div>
	</div>

	</footer>


</body>
</html>