<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css" >
body {
	text-decoration: none;
	text-align: left;
}
.blacklink {
	font-family: "宋体";
	color: #000;
	text-decoration: none;
}
.blacklink {
	font-family: "宋体";
	color: #000;
	text-decoration: none;
	font-weight: normal;
}
.blanklink {
	font-family: "宋体";
	color: #000;
	text-decoration: none;
}
.blanklink {
	font-family: "宋体";
	color: #000;
	text-decoration: none;
}
blanklink {
	font-family: "宋体";
	color: #000;
	text-decoration: none;
}
blanklink {
	font-family: "宋体";
	color: #000;
	text-decoration: none;
}
.blanklink {
	font-family: "宋体";
	color: #000;
	text-decoration: none;
}
a{color:#3b3b3b;text-decoration:none;font-family:"Microsoft YaHei","微软雅黑","simhei","黑体";}
.tabletrfcont {
	font-size: 24px;
	font-weight: bold;
	color: #0E5092;
	position: absolute;
	top: 602px;
	left: 93px;
	width: 103px;
	height: 35px;
}
#divtable {
	background-color: #DDDDDD;
	height: 206px;
	width: 1168px;
	margin: 0px;
	font-family: "华文仿宋";
	font-size: 18px;
	color: #FFF;
}
#divtable table {
	color: #00468C;
	font-weight: bold;
	font-family: "小宋";
}
#tablestyle {
	font-size: 14px;
	color: #000;
	font-weight: normal;
}
#divtable div {
	background-color: #00468C;
	height: 40px;
}
.tablefont {
	font-size: 24px;
	color: #00469C;
	position: absolute;
	height: auto;
	width: auto;
}
.tablefont {
	font-family: "宋体";
	color: #00468C;
}
.tablefontstyle {
	font-size: 24px;
	color: #00468C;
}
#divtable div pre {
	font-weight: bold;
}
#divone #divones pre {
	font-family: "黑体";
}
#divone #divones pre {
	font-size: 12px;
}
#divone #divones pre {
	font-size: 14px;
}
.newstitle {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
#divone #divones pre {
	font-weight: normal;
}
.news {
	font-family: "黑体";
	font-size: 16px;
	line-height: 20px;
	color: #999;
	text-indent: 0.5cm;
}
.title{
    background-color:#FFF;

}
.titlechange{
    background-color:#C6E2FF;
}
li
{
	margin:0px;
	padding:0px;
}
</style>
<script type="text/javascript">
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
</script>
<script type="text/javascript" src="http://www.veryhuo.com/uploads/common/js/jquery-1.4.2.min.js"></script>
<script>
$(function(){
$(".title").click(function(){
$(this).next().slideToggle(1000).end().siblings(".title").next().slideUp();
})
})
</script>
</head>
<body onload="MM_preloadImages('images/40.jpg')">
<center>
  <p><img src="电子系网页重构项目/网页效果图/dianzixi-index.fw2.png" width=90% height="13" style="border-bottom:1px solid #00468C;"/><img src="电子系网页重构项目/网页效果图/dianzixi-index.fw (1).png" width=90% height="125" style="border-bottom:1px solid #00468C ;display:block" /></p>
  <table width="90%" border="0">
    <tr>
      <td width="10%" align="center"> <a href="http://www.ncepu.edu.cn/" class="blacklink" id="blacklink">大学首页</a></td>
      <td width="10%" align="center"><a href="http://202.206.208.65/DefaultForAuto.aspx" class="blacklink" id="blacklink">本站首页</a></td>
      <td width="10%" align="center">新闻中心</td>
      <td width="10%" align="center">院系简介</td>
      <td width="10%" align="center"><a href="http://202.206.208.57/dianzi/party/" class="blanklink" id="blanlink">系党总支</a></td>
      <td width="10%" align="center">学科建设</td>
      <td width="10%" align="center">科学研究</td>
      <td width="10%" align="center">对外交流</td>
      <td width="10%" align="center">人才培养</td>
      <td width="10%" align="center"><a href="http://202.206.208.57/dianzi/xiaoyou.html" class="blanklink" id="blanklink">历届校友</a></td>
    </tr>
</table>
  <img src="images/1.png" width=90% height="203" />
  <div id="divone" style="width:85%;height:800px; position:relative;">
  <div id="titlelist" style="width:25%;float:left;">
    <div id="newscenter" style="color: #FFF; font-weight: bold; font-size: 24px; font-family: '黑体'; background-image: url(%E7%94%B5%E5%AD%90%E7%B3%BB%E7%BD%91%E9%A1%B5%E9%87%8D%E6%9E%84%E9%A1%B9%E7%9B%AE/%E7%BD%91%E9%A1%B5%E6%95%88%E6%9E%9C%E5%9B%BE/11.png); width: 100%; height: 40px; border:2px solid #00468C;">新闻中心  </div>
    <div style="width:100%; border:2px solid #00468C;">
    <div class="title" onclick="this.className='titlechange'" style="width: 100%; height: 40px; line-height: 40px; border:# solid 1px;cursor: pointer; margin-bottom: 2px; font-family: '黑体'; font-size: 18px; color: #000;">电信快讯</div>
    <div id="te01" style="width:100%;line-height:20px;height:100px;display:none;margin-bottom:2px; background-color:#C6E2FF;">
    <ul style="font-family:'黑体'; font-size:12px; line-height:30px; font-weight:600; margin:0px;">
    <li>关于评选2013-2014学年三好学生的通知</li>
    <li>关于评选2013-2014学年三好学生的通知</li>
    <li>关于评选2013-2014学年三好学生的通知</li>
   </div>
    <div class="title" onclick="this.className='titlechange'" style="width: 100%; height: 40px; line-height: 40px; border:# solid 1px;cursor: pointer; margin-bottom: 2px; font-family: '黑体'; font-size: 18px; color: #000;">通知公告</div>
    <div id="te02" style="width:100%;line-height:20px;height:100px;display:none;margin-bottom:2px; background-color:#C6E2FF;">
    <ul style="font-family:'黑体'; font-size:12px; line-height:30px; font-weight:600; margin:0px;">
    <li>关于评选2013-2014学年三好学生的通知</li>
    <li>关于评选2013-2014学年三好学生的通知</li>
    <li>关于评选2013-2014学年三好学生的通知</li>
   </div>
    <div class="title" onclick="this.className='titlechange'" style="width: 100%; height: 40px; line-height: 40px; border:# solid 1px;cursor: pointer; margin-bottom: 2px; font-family: '黑体'; font-size: 18px; color: #000;">工作总结</div>
    <div id="te02" style="width:100%;line-height:20px;height:100px;display:none;margin-bottom:2px; background-color:#C6E2FF;">
    <ul style="font-family:'黑体'; font-size:12px; line-height:30px; font-weight:600; margin:0px;">
    <li>关于评选2013-2014学年三好学生的通知</li>
    <li>关于评选2013-2014学年三好学生的通知</li>
    <li>关于评选2013-2014学年三好学生的通知</li>
   </div>
  </div>
  </div>
  <div id="news" style="text-indent: 1cm; line-height: 20px; color: #333; padding-left: 0px; width: 65%; height: 800px; float: right; text-align: left; font-family: '黑体'; font-size: 16px;">
    <p><pre><img src="电子系网页重构项目/网页效果图/7.png" width="16" height="16" />  首页 &gt;&gt; 新闻中心 &gt;&gt;电信快讯</pre></p>
    <span class="newstitle"><center>
      <p>电子系召开毕业生就业动员暨考研就业经验交流会    </p>
    </center>
    </span>
    <p align="right"><img src="电子系网页重构项目/网页效果图/7.png" width="16" height="16" id="newsinfo" />  文章来源 ：电子系记者站  <img src="电子系网页重构项目/网页效果图/7.png" width="16" height="16" /> 发布时间 ：2014/6/8    
    </p>
    <p>为扎实推进基层党组织创先争优活动，落实党支部近期工作目标，培养广大学生党员争当先锋的竞争意识，电子系电子专业学生党支部组织开展了以&ldquo;一名党员一面旗一个支部一个家&rdquo;为主题的文明宿舍创建活动，活动由培训动员、床位挂牌、文明先锋评选三个环节组成。3月14日中午，组织召开了文明宿舍建设培训暨动员大会，党支部书记陈火欣向全体党员介绍了宿舍内务整理的诸多经验、要求和注意事项，分享了学生时代积极参与宿舍文明建设的体会与收获，3月15日下午，党支部组织了党员床位挂牌活动，系党总支副书记门万杰，党支部书记陈火欣参加了挂牌活动，门书记对内务不达标的党员提出了整改意见。本活动计划持续一个学期，将以定期检查、不定期抽查方式考查每名党员在此项活动中的表现情况，最终评出5名党支部文明先锋为扎实</p>
    <p>推进基层党组织创先争优活动，落实党支部近期工作目标，培养广大学生党员争当先锋的竞争意识，电子系电子专业学生党支部组织开展了以&ldquo;一名党员一面旗一个支部一个家&rdquo;为主题的文明宿舍创建活动，活动由培训动员、床位挂牌、文明先锋评选三个环节组成。3月14日中午，组织召开了文明宿舍建设培训暨动员大会</p>
    <p>党支部书记陈火欣向全体党员介绍了宿舍内务整理的诸多经验、要求和注意事项，分享了学生时代积极参与宿舍文明建设的体会与收获，3月15日下午，党支部组织了党员床位挂牌活动，系党总支副书记门万杰，党支部书记陈火欣参加了挂牌活动，门书记对内务不达标的党员提出了整改意见。本活动计划持续一个学期，将以定期检查、不定期抽查方式考查每名党员在此项活动中的表现情况，最终评出5名党支部文明先锋</p>
    <p>为扎实推进基层党组织创先争优活动，落实党支部近期工作目标，培养广大学生党员争当先锋的竞争意识，电子系电子专业学生党支部组织开展了以&ldquo;一名党员一面旗一个支部一个家&rdquo;为主题的文明宿舍创建活动，活动由培训动员、床位挂牌、文明先锋评选三个环节组成。</p>
    <p>3月14日中午，组织召开了文明宿舍建设培训暨动员大会，党支部书记陈火欣向全体党员介绍了宿舍内务整理的诸多经验、要求和注意事项，分享了学生时代积极参与宿舍文明建设的体会与收获，3月15日下午，党支部组织了党员床位挂牌活动，系党总支副书记门万杰，党支部书记陈火欣参加了挂牌活动.  电子系电子专业学生党支部组织开展了以&ldquo;一名党员一面旗一个支部一个家&rdquo;为主题的文明宿舍创建活动，活动由培训动员、床位挂牌、文明先锋评选三个环节组成。</p>
</div>
  </div>
  <div style="width:85%;height:30px;">
  <div style="width:25%;height:30px;float:left;"></div>
  <div style="width:65%;height:30px;float:right;">
  <div style="width:45%;height:30px;float:left;">
  <div style="width:20%;height:30px;float:left;text-align:left;"><a href="http://202.206.208.57/dianzi/singleNews.aspx?id=122"><input type=button style="background:url(images/8.png); font-family:'黑体'; font-size:18px; color:#FFF; height:30px;" value="上一篇" /></a></div>
  <div style="width: 70%; height: 30px; float: right; text-align: left; font-family: '黑体'; font-size: 14px;">电子系举办“菁菁年华”颁奖晚会 
</div>
  </div>
  <div style="width:45%;height:30px;float:right;">
  <div style="width:20%;height:30px;float:left;text-align:left;"><a href="http://202.206.208.57/dianzi/singleNews.aspx?id=119"><input type=button style="background:url(images/8.png); font-family:'黑体'; font-size:18px; color:#FFF; height:30px;" value="下一篇" /></a></div>
  <div style="width: 70%; height: 30px; float: right; text-align: left; font-family: '黑体'; font-size: 14px;">电子系举办第二届师生羽毛球比赛 </div>
  </div>
  </div>
  </div>
<p>&nbsp;</p>
</center>
<center>
  <div class="divtable" id="divtable">
    <table width="85%" height="44" border="0">
      <tr align="center" valign="middle">
        <td width="10%">大学首页</td>
        <td width="10%">新闻中心</td>
        <td width="10%">院系简介</td>
        <td width="10%">系党总支</td>
        <td width="10%">学科建设</td>
        <td width="10%">科学研究</td>
        <td width="10%">对外交流</td>
        <td width="10%">人才培养</td>
        <td width="9%">历届校友</td>
        <td width="11%">友情链接</td>
      </tr>
    </table>
    <table width="85%" height="125" border="0">
      <tr id="tablestyle">
        <td width="10%" align="center" id="tablestyle"><a href="http://www.ncepu.edu.cn/">北京校部</a></td>
        <td width="10%" align="center" id="tablestyle"><a href="http://202.206.208.57/dianzi/categoryNews.aspx?cat=0">电信快讯</a></td>
        <td width="10%" align="center" id="tablestyle"><a href="http://202.206.208.57/dianzi/yzzc.aspx">院长致辞</a></td>
        <td width="10%" id="tablestyle">&nbsp;</td>
        <td width="10%" align="center" id="tablestyle"><a href="http://202.206.208.57/dianzi/scienceLook.aspx">教学成果</a></td>
        <td width="10%" align="center" id="tablestyle"><a href="http://202.206.208.57/dianzi/scienceLook.aspx">教学成果</a></td>
        <td width="10%" align="center" id="tablestyle"><a href="http://202.206.208.57/dianzi/scienceLook.aspx">教学成果</a></td>
        <td width="10%" align="center" id="tablestyle"><a href="http://202.206.208.57/dianzi/teacherYj.aspx">本科生教育</a></td>
        <td width="9%" id="tablestyle">&nbsp;</td>
        <td width="11%" align="center" id="tablestyle"><a href="http://202.206.208.65/zsjy.aspx">招生信息网</a></td>
      </tr>
      <tr align="center">
        <td id="tablestyle"><a href="http://net.ncepu.edu.cn/">保定校区</a></td>
        <td id="tablestyle"><a href="http://202.206.208.57/dianzi/categoryNews.aspx?cat=1">通知公告</a></td>
        <td id="tablestyle"><a href="http://www.ncepu.edu.cn/xxgk/32907.htm">历史沿革</a></td>
        <td id="tablestyle">&nbsp;</td>
        <td id="tablestyle"><a href="http://202.206.208.57/dianzi/cslook1.aspx">发表论文</a></td>
        <td id="tablestyle"><a href="http://202.206.208.57/dianzi/cslook1.aspx">发表论文</a></td>
        <td id="tablestyle"><a href="http://202.206.208.57/dianzi/cslook1.aspx">发表论文</a></td>
        <td id="tablestyle"><a href="http://202.206.208.57/dianzi/teachHigh.aspx">研究生教育</a></td>
        <td id="tablestyle">&nbsp;</td>
        <td id="tablestyle"><a href="http://202.206.208.40/job/default.aspx">就业服务中心</a></td>
      </tr>
      <tr align="center">
        <td id="tablestyle"><a href="http://english.ncepu.edu.cn/">ENGLISH</a></td>
        <td id="tablestyle"><a href="http://202.206.208.57/dianzi/categoryNews.aspx?cat=2">工作总结</a></td>
        <td id="tablestyle"><a href="http://202.206.208.57/dianzi/bmjj.aspx">部门介绍</a></td>
        <td id="tablestyle">&nbsp;</td>
        <td id="tablestyle"><a href="http://202.206.208.57/dianzi/cslook2.aspx">出版专著</a></td>
        <td id="tablestyle"><a href="http://202.206.208.57/dianzi/cslook2.aspx">出版专著</a></td>
        <td id="tablestyle">&nbsp;</td>
        <td id="tablestyle"><a href="http://202.206.208.57/dianzi/teachersLook.aspx">师资队伍</a></td>
        <td id="tablestyle">&nbsp;</td>
        <td id="tablestyle"><a href="http://59.67.225.73/jiaowuchu/">教务处</a></td>
      </tr>
      <tr align="center">
        <td id="tablestyle">&nbsp;</td>
        <td id="tablestyle">&nbsp;</td>
        <td id="tablestyle"><a href="http://202.206.208.57/dianzi/ldbx.aspx">两地办学</a></td>
        <td id="tablestyle">&nbsp;</td>
        <td id="tablestyle">&nbsp;</td>
        <td id="tablestyle"><a href="http://202.206.208.57/dianzi/cslook3.aspx">出版教材</a></td>
        <td id="tablestyle">&nbsp;</td>
        <td id="tablestyle">&nbsp;</td>
        <td id="tablestyle">&nbsp;</td>
        <td id="tablestyle">&nbsp;</td>
      </tr>
      <tr align="center">
        <td id="tablestyle">&nbsp;</td>
        <td id="tablestyle">&nbsp;</td>
        <td id="tablestyle">&nbsp;</td>
        <td id="tablestyle">&nbsp;</td>
        <td id="tablestyle">&nbsp;</td>
        <td id="tablestyle"><a href="http://202.206.208.57/dianzi/cslook4.aspx">研究项目</a></td>
        <td id="tablestyle">&nbsp;</td>
        <td id="tablestyle">&nbsp;</td>
        <td id="tablestyle">&nbsp;</td>
        <td id="tablestyle">&nbsp;</td>
      </tr>
    </table>
<div><pre>访问量：12239098      版权所有&copy;华北电力大学电子与通信工程系     京ICP备09043258</pre></div>
</div>
</center>
</body>
</html>
