*
{
	margin: 0px;
	padding: 0px;
	
}

div
{
	word-wrap: break-word; word-break: normal;
}

.logo{
	margin-top: 1px;
	margin-right: auto;
	margin-left: auto;
	width: 1024px;
	border-bottom: #3399FF solid 1px;
}

.nav ul{
	list-style-type: none;
	display: block;
	margin:0 auto 0 auto;
	width: 1024px;
	overflow: auto;
}
.nav li{
	float: left;
}

.nav a:link,div.nav a:visited
{
	display: block;
	width: 102.4px;
	font-weight:bold;
	font-size: 16px;
	color: #000099;
	background-color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: "微软雅黑";
}

div.nav a:hover,div.nav a:active
{
	display: block;
	width: 102.4px;
	font-size: 16px;
	color: #FFFFFF;
	background-color: #006699;
	text-decoration: none;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
}


.top-picture , .top-picture img
{
	width: 1024px;
	height: 180px;
	margin-left: auto;
	margin-right: auto;
}

/*------------------------------内容------------------------------------*/

.body
{
	width: 1024px;
	margin: 0 auto 0 auto;
	font-size: 12px;
}

.title
{
	width: 305px;
	height: 150px;
	background-color: #006699;
	margin-left: 15px;
	margin-bottom: 0;
	position: relative;
	z-index:999;
	top:-100px;
}
div.top
{
	width: 250px;
	height:45px;
	margin-left: 40px;
	border-bottom: #FFFFFF solid 2px;
	font-size: 30px;
	font-family: "微软雅黑"，"黑体";
	color: #FFFFFF;
	text-align: right;
	position: relative;
	top: 70px;
}
div.bottom
{
	width: 250px;
	height: 15px;
	margin-left: 40px;
	font-size: 12px;
	color: #C0C0C0;
	text-align: right;
	position: relative;
	top: 80px;
}
div.part-one , div.part-two , div.part-three
{
	float: left;
	width: 305px;
	height: 190px;
	margin: -45px 15px 25px 15px;
	background-color: #E0E0E0;
}
div.part-four , div.part-five , div.part-six
{
	float: left;
	width: 305px;
	height: 190px;
	margin: 25px 15px 50px 15px;
	background-color: #E0E0E0;
}
 .photo , .content img
{
	float: left;
	width: 140px;
	height: 190px;
	
}
.content img
{
/*----  等比例缩放   
	max-width: 140px;
	myimg:expression(onload-function{
		this.style.width=(this.offsetWidth > 140px)?"140px":"auto";
		});
--*/
}

.intro
{
	float: right;
	width: 150px;
	height: 155px;
	margin: 5px;
}
.intro h2
{
	text-align: left;
	font-family: "微软雅黑";
	margin-top: 8px;
	margin-bottom: 10px;
}
.intro p
{
	text-indent: 20px;
	line-height: 140%;
	font-size: 13px;
	overflow: hidden;
} 
.more
{
	float: right;
	margin-right: 10px;
	margin-bottom: 5px;
}
.more a
{
	text-decoration: none;
	color: #003399;
}

.pager
{
	width: 240px;
	height: 70px;
	margin:15px auto 15px auto;
}
.pager li
{
	list-style-type: none;
	float: left;
	width: 25px;
	height:19px;
	text-align: center;
	margin-right: 2px;
	padding: 0;
}

.number-page a:link , .number-page a:visited
{
	text-decoration: none;
	display: block;
	border: #000099 solid 1px;
}
.number-page a:hover,  .number-page a:active , .page-turning a
{
	display: block;
	background-color: #006699;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	border: #000099 solid 1px;
}



/*---------------------------------footer部分---------------------------------------*/

.inner
{
	float: left;
	list-style-type: none;	
}
.footer
{
	width: 1024px;
	margin: 400px auto 0 auto;
}
.footerfirst
{
	width: 1024px;
	height:180px;
	background-color:#E0E0E0;
	margin:20px auto 0 auto;
	font-family: "微软雅黑";
}
ul.first
{
	margin-left: 65px;
}
.footerfirst li[title]
{
	list-style-type: none;
	width:85px; 
	height: 19px;
	font-size: 13px;	
	text-align: center;
	margin:0 2px 0 2px;
	letter-spacing: 0px;
}

p.Caption
{
	width:85px; 
	height: 27px;
	color: #003399;
	font-size: 16px;
	font-weight: bolder;
	text-align: center;
	margin: 15px 0 9px 2px;

}

.footerfirst a:link,div.footerfirst a:visited
{
	text-decoration: none;
	color: #333;
}

div.footerfirst a:hover,div.footerfirst a:active
{
	text-decoration: none;
	color: #039;
}

div.footersecond
{
	display: block;
	margin:0 auto 0 auto;
	padding-bottom: 8px;
	padding-top: 18px;
	padding-right: 0px;
	background-color: #006699;
	width: 1024px;
	height: 30px;
}
.footersecond p
{
	margin-right: 25px;
	text-align: right;
	color: #FFF;
	font-size: 13px;
}