*{
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 0px;
}
body {
	text-decoration: none;
}
a{
	color: #3b3b3b;
	text-decoration: none;
	font-family: "微软雅黑";
}
a:hover
{
	color:#00468C;
	text-decoration:none;
}
.tabletrfcont {
	font-size: 24px;
	font-weight: bold;
	color: #0E5092;
	position: absolute;
	top: 602px;
	left: 93px;
	width: 103px;
	height: 35px;
}
#divtable {
	background-color: #DDDDDD;
	height: 180px;
	width:90%;
	margin: 0 auto;
	font-family: "华文仿宋";
	font-size: 18px;
	color: #FFF;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
#divtable table {
	color: #00468C;
	font-weight: bold;
	font-family: "小宋";
}
#tablestyle {
	font-size: 14px;
	color: #000;
	font-weight: normal;
}
#divtable div {
	background-color: #00468C;
	height: 40px;
}
.tablefont {
	font-size: 24px;
	color: #00469C;
	position: absolute;
	height: auto;
	width: auto;
}
.tablefont {
	font-family: "宋体";
	color: #00468C;
}
.tablefontstyle {
	font-size: 24px;
	color: #00468C;
}
#divtable div pre {
	font-weight: bold;
}
#divone #divones pre {
	font-family: "黑体";
}
#divone #divones pre {
	font-size: 12px;
}
#divone #divones pre {
	font-size: 14px;
}
.newstitle {
	margin-top:20px;
	font-size: 20px;
	text-align: center;
	font-family:"微软雅黑";
}
.newsinfo
{
	margin-top:20px;
	text-align:right;
	font-family:"微软雅黑";
	font-size:12px;
}
#divone #divones pre {
	font-weight: normal;
}
.news {
}
li
{
	margin:0px;
	padding:0px;
}
.left
{
	width:111px;
	height:104px;
	float:left;
}
.right
{
	width:249px;
	height:104px;
	float:right;
}
.main
{
	height:104px;
	width:818px;
}
.header
{
	margin:0 ;
	padding:0px;
}
.nav ul{
	list-style-type: none;
	display: block;
	margin:0 auto 0 auto;
	width:1024px;
	overflow: auto;
}
.nav li{
	float: left;
}

.nav a:link,div.nav a:visited
{
	display: block;
	width: 102.4px;
	font-size: 16px;
	color: #000;
	background-color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: "微软雅黑";
}

div.nav a:hover,div.nav a:active
{
	display: block;
	width: 102.4px;
	font-size: 16px;
	color: #FFFFFF;
	background-color: #006699;
	text-decoration: none;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
}
#divtable table tr td {
	font-family: "微软雅黑";
	font-weight: normal;
}
#footer {
	background-color: #00468C;
	height: 40px;
	width:90%;
}
#footer pre {
	font-size: 13px;
	font-family: "微软雅黑";
	line-height: 40px;
	color: #FFF;
	text-align: right;
	text-indent: 0.5cm;
}
.newscontent
{
	margin-top:20px;
	font-family:"微软雅黑";
	font-size:14px;
	line-height:20px;
	color:#333;
	text-align:left;
}
p{
	line-height:25px;
	text-indent:1cm;
}
.page{
	margin-top:40px;
	margin-bottom:40px;
	height:40px;
}
.frontpage{
	width:45%;
	float:left;
	height:40px;
}
.behindpage{
	width:45%;
	float:right;
	height:40px;
}
.fpl{
	width:20%;
	float:left;
	height:30px;
}
.fpr{
	width:70%;
	float:right;
	font-family:"微软雅黑";
	font-size:12px;
	height:30px;
	text-align:left;
}
.bpl{
	width:20%;
	float:left;
	height:30px;
}
.bpr{
	width:70%;
	float:right;
	height:30px;
	font-family:"微软雅黑";
	font-size:12px;
	text-align:left;
}* CSS Document */

