*
{
	margin: 0px;
	padding: 0px;
	
}

div
{
	word-wrap: break-word; word-break: normal;
}

.logo{
	margin-top: 1px;
	margin-right: auto;
	margin-left: auto;
	width: 1024px;
	border-bottom: #3399FF solid 1px;
}

.nav ul{
	list-style-type: none;
	display: block;
	margin:0 auto 0 auto;
	width: 1024px;
	overflow: auto;
}
.nav li{
	float: left;
}

.nav a:link,div.nav a:visited
{
	display: block;
	width: 102.4px;
	font-weight:bold;
	font-size: 16px;
	color: #000099;
	background-color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: "微软雅黑";
}

div.nav a:hover,div.nav a:active
{
	display: block;
	width: 102.4px;
	font-size: 16px;
	color: #FFFFFF;
	background-color: #006699;
	text-decoration: none;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
}


.top-picture , .top-picture img
{
	width: 1024px;
	height: 180px;
	margin-left: auto;
	margin-right: auto;
}

/*------------------------------内容------------------------------------*/
.body
{
	width: 1024px;
	height: 520px;
	margin: 0 auto 0 auto;
	font-size: 12px;
}
div.main-title
{
	clear: left;
	float: left;
	width: 270px;
	margin-left: 30px;
	position: relative;
	z-index:999;
	top:-100px;
}

.title
{
	width: 300px;
	height: 150px;
	background-color: #006699;
}
div.top
{
	width: 250px;
	height:45px;
	margin-left: 40px;
	border-bottom: #FFFFFF solid 2px;
	font-size: 30px;
	font-family: "微软雅黑"，"黑体";
	color: #FFFFFF;
	text-align: right;
	position: relative;
	top: 70px;
}
div.bottom
{
	width: 250px;
	height: 15px;
	margin-left: 40px;
	font-size: 12px;
	color: #C0C0C0;
	text-align: right;
	position: relative;
	top: 80px;
}

.listing  li
{
	list-style-type: none;
	width: 70%;
	height: 37px;
	text-align: center;
	font-size: 17px;
	color:#000000;
	font-family: "微软雅黑";
}
.listing
{
	border-left:#006699 solid 2px;
}

.listing a
{
	height: 30px;
	display: block;
	padding-top: 11px;
	text-decoration: none;
	color: #000099;
}
.listing a:hover
{
	display: block;
	font-weight: bold;
	border-left:solid 4px #FF0;
	text-decoration: none;
}
.listing a:active
{
	display: block;
	font-weight: bold;
	border-left:solid 4px #FF0;
	color:#000;
}
.white
{
	background-color: #FFFFFF;
}
.blue
{
	background-color: #B0E0E6;
}
.lighter
{
	background-color: #E0E0E0;
}
.content
{
	float: right;
	width: 630px;
	margin: 50px 50px 30px 40px;
}
.content a:link , .content a:visited
{
	text-decoration: none;
	color: #000000;
}
.content a:hover, .content a:active
{
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}
table
{
	border-collapse: collapse;
	border: 0;
}
.caption-article
{
	width: 430px;
	text-align: left;
	padding-left: 13px;
	font-weight: bold;
	font-size: 16px;
}
.caption-author
{
	width: 90px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}
.caption-date
{
	width: 110px;
	text-align: right;
	padding-right: 4px;
	font-weight: bold;
	font-size: 16px;
}
.content tr
{
	width: 630px;
	height: 35px;
}
.article-name
{
	width: 430px;
	text-align: left;
	padding-left: 10px;
	
}
.author-name
{
	width: 90px;
	text-align: center;
	margin-right: 30px;
}
.article-date
{
	width: 110px;
	text-align: right;
	padding-right: 5px;
}
.list-caption
{
	border-bottom: solid 2px #006699;
}

.pager
{
	width: 240px;
	height: 70px;
	margin-left: 590px;
}
.pager li
{
	list-style-type: none;
	float: left;
	width: 25px;
	height:19px;
	text-align: center;
	margin-right: 2px;
	padding: 0;
}

.number-page a:link , .number-page a:visited
{
	text-decoration: none;
	display: block;
	border: #000099 solid 1px;
}
.number-page a:hover,  .number-page a:active , .page-turning a
{
	display: block;
	background-color: #006699;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	border: #000099 solid 1px;
}


/*---------------------------------footer部分---------------------------------------*/

.inner
{
	float: left;
	list-style-type: none;
	
}
.footerfirst
{
	width: 1024px;
	height:180px;
	background-color:#E0E0E0;
	margin:20px auto 0 auto;
	font-family: "微软雅黑";
}
ul.first
{
	margin-left: 65px;
}

.footerfirst li[title]
{
	list-style-type: none;
	width:85px; 
	height: 19px;
	font-size: 13px;	
	text-align: center;	
	letter-spacing: 1px;
	margin: 0 2px 0 2px;
}

p.Caption
{
	width:85px; 
	height: 27px;
	color: #003399;
	font-size: 16px;
	font-weight: bolder;
	text-align: center;
	margin: 15px 0 9px 2px;
}

.footerfirst a:link,div.footerfirst a:visited
{
	text-decoration: none;
	color: #333;
}

div.footerfirst a:hover,div.footerfirst a:active
{
	text-decoration: none;
	color: #039;
}

div.footersecond
{
	display: block;
	margin:0 auto 0 auto;
	padding-bottom: 8px;
	padding-top: 18px;
	padding-right: 0px;
	background-color: #006699;
	width: 1024px;
	height: 30px;
}
.footersecond p
{
	margin-right: 25px;
	text-align: right;
	color: #FFF;
	font-size: 13px;
}