*{
	list-style-type: none;
	margin: 0 px;
	padding:0;
}
*, * focus {
	outline: none;
	margin: 0;
	padding: 0;
}
a,img{
	border: 0;
}
a{color:#3b3b3b;text-decoration:none;font-family:"微软雅黑";}
a:hover{
	text-decoration:none;
	color:#00468C;
}
body{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-family: 830;
}
/*新闻中心折叠菜单*/
#newscenter{
	color: #FFF;
	font-weight: bold; 
	font-size: 24px; 
	font-family: '黑体'; 
	background-image:url(images/5.png); 
	width: 246px; 
	height: 65px; 
	line-height:60px;
	border:2px solid #00468C;
}
.container {
	width: 248px;
	border: 2px solid #00468C;
	z-index: 2;
	position: absolute;
	top: 349px;
	left: 176px;
}
.acc_trigger {
	background:#FFF;
	height: 40px;	
	line-height: 40px;
	width:248px;
	font-size: 18px;
	font-weight: normal;
	float: left;
	font-family:"微软雅黑";
	text-align:center;
	border-
}
.acc_trigger a {
	color: #000;
	text-decoration: none;
	display: block;
}
.active {background-position: left bottom;}
.acc_container {
	overflow: hidden;
	font-size: 12px;
	width:248px;
	clear: both;
	background:#C6E2FF;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px; 
	height:100px;
}
.acc_container .block {
	background-color:#C6E2FF;
	line-height:20px;
}
.acc_container .block ul{
	text-indent:0px;
}
.acc_container .block p {
	padding: 5px 0;
	margin: 5px 0;
} 
/*内容块电信快讯*/
#divone{
	width: 980px;
	height: 740px;
	margin-top: 20px;
	z-index: 1;
	margin: 0 auto;
}
#news{
	width: 640px;
	height: 740px;
	float: right;
}
.headtitle{
	text-align:left; 
	font-size:14px;
}
.newstitle{
	margin-top: 50px;
	font-size: 20px;
	text-align: center;
	font-family: "微软雅黑";
}
.newsinfo{
	margin-top:20px;
	text-align:right;
	font-family:"微软雅黑";
	font-size:12px;
	padding-right:30px;
}
.newscontent
{
	margin-top: 15px;
	font-family: "微软雅黑";
	font-size: 13px;
	line-height: 20px;
	color: #333;
	text-align: left;
}
p{
	line-height:20px;
	text-indent:60px;
	margin:5px;
}
/*翻页部分*/
.page{
	margin-top: 50px;
	margin-bottom: 40px;
	height: 40px;
}
.frontpage{
	width:45%;
	float:left;
	height:40px;
}
.behindpage{
	width:45%;
	float:right;
	height:40px;
}
.fpl{
	width:20%;
	float:left;
	height:30px;
}
.fpr{
	width:70%;
	float:right;
	font-family:"微软雅黑";
	font-size:12px;
	height:30px;
	text-align:left;
}
.bpl{
	width:20%;
	float:left;
	height:30px;
}
.bpr{
	width:70%;
	float:right;
	height:30px;
	font-family:"微软雅黑";
	font-size:12px;
	text-align:left;
}